*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #34BE82;
    --background-color-circle:red;
}

body{
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.textbubble{
    position: relative;
    animation-name: popup;
    animation-duration: 0.8s;
}

.textbubble:hover .circle{ /* als ik over de textbubble hover dan wil ik iets aanpassen aan de .circle */
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bubble{
    width: 270px;
    height: 200px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle{
    width: 30px;
    height: 30px;
    background: var(--background-color-circle);
    border-radius: 50%;

}


.second{
    animation-delay: 0.5s;
}

.third{
    animation-delay: 1s;
}

.triangle, .trianglebackground{ /* de triangle enn de triangleBackground hebben ... */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.triangle{
    width: 40px;
    height: 40px;
    background: white;
    top: 96%;
    left: 49%;

}

.trianglebackground{
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    top: 97%;
    
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}